{% extends 'base.html.twig' %}
{% block body %}
    <div id="main-content">
        <h1><span>Présentation des formulaires dépendants avec</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
